<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unit Conversion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48AB24AA1CECD024002D00CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48AB24C31CECD025002D00CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48AB24CE1CECD025002D00CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
